@import "../../../styles/variables";
@import "src/styles/mixins/auth";

.regForm {
  @include form(flex, column, center, space-evenly);
  width: 413px;
  height: 552px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

  .signIn {
    @include formStyle($base-color, font-semibold, 25px, 400);
    margin-top: 5%;
  }

  .form {
    @include form(flex, column, flex-start, end);
    margin-top: 10%;
    width: 90%;
    .input {
      font-size: 36px;
    }

    .supportText {
      @include form(flex, column, flex-start, "");
      @include formStyle(#151414, font-semibold, 14px, bold);
      opacity: 30%;
      margin-top: 10%;

      .bottomText {
        font-size: 13px;
        font-weight: lighter;
      }
    }

    .buttons {
      @include form(flex, "", "", space-between);
      width: 100%;
      margin-top: 10%;
    }
  }
  .isAccount {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .loginLink {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #366eff;
    margin-top: 4%;
  }
}
