.header {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid blue;
  background-color: #ebe0e9;
}
.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
