.header {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ebe0e9;
}
.headerContainer {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .profileLogo {
    margin-right: 5px;
  }
  .profileLink {
    padding: 5px;
  }
  .profileLink:hover {
    color: rgb(135, 121, 204);
  }
  .links {
    display: flex;
    flex-direction: row;
  }
}
.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.userName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px dashed #000000;
}
.avatar {
  img {
    width: 36px;
    height: 36px;
  }
}
.logo img {
  height: 50px;
}
