
@import "./../../styles/mixins/mixins.scss";

.titleStyle {
  font-size: 18px;
  height: 56px;
  color: #0080ff;
  @include flex-block(); //(flex, row, center, center)
  img {
    padding-left: 5px;
    height: 20px;
    width: 20px;
  }
}
