@mixin registration {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-block(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
