
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*height: 100%;*/
  height: calc(100% - 60px);
  background: linear-gradient(180deg, #e6d4de, #9890c7);
}

