@import "./src/common/styles/variables";

.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 70%;
  /*почему высота не регулируется????*/
  border: 1px solid black;
  padding: 20px;
}

.cards {
  color: $base-color;
  font-family: font-semibold;
}
