@import "./src/common/styles/variables";

.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //width: 18%;
  min-height: 60%;
  border: 1px solid black;
  //background-color: $sec-color;
  background: white;
  padding: 20px;
  border-radius: 10px;

  .cards {
    color: $base-color;
    font-family: $base-font;
    font-weight: 700;
    opacity: 1;
  }

  .signIn {
    color: $base-color;
    font-family: font-semibold;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;

    .input {
      font-size: 36px;
    }

    .supportText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
      font-weight: bold;
      font-family: font-semibold;
      color: #151414;
      opacity: 30%;
      margin-top: 10%;

      .bottomText {
        font-size: 13px;
        font-weight: lighter;
      }
    }

    .buttons {
      margin-top: 30px;
      display: flex;
      width: 100%;
      gap: 20px;
    }
  }
}
