@import "./src/common/styles/variables";
@import "./src/common/styles/mixins/auth";

.regForm {
  @include form(flex, column, center, space-evenly);
  min-height: 25%;
  width: 300px;
  border: 1px solid black;
  background-color: $sec-color;
  padding: 15px;
  border-radius: 10px;

  .cards {
    @include formStyle($base-color, $base-font, "", 700);
    opacity: 1;
  }

  .signIn {
    @include formStyle($base-color, font-semibold, 20px, 400);
    margin-top: 5%;
  }

  .form {
    @include form(flex, column, flex-start, end);
    margin-top: 10%;

    .input {
      font-size: 36px;
    }

    .supportText {
      @include form(flex, column, flex-start, "");
      @include formStyle(#151414, font-semibold, 14px, bold);
      opacity: 30%;
      margin-top: 10%;

      .bottomText {
        font-size: 13px;
        font-weight: lighter;
      }
    }

    .buttons {
      @include form(flex, "", "", space-between);
      width: 100%;
      .bt {
        margin-top: 10%;
      }
    }
  }
}
